{
  "openapi": "3.0.0",
  "info": {
    "title": "Chat Room API",
    "version": "1.0.0",
    "description": "API for creating and interacting with chat rooms"
  },
  "servers": [
    {
      "url": "https://multiplayer.padhub.xyz"
    }
  ],
  "paths": {
    "/chatrooms": {
      "get": {
        "operationId": "createChatRoom",
        "summary": "Create a chat room",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Chat room created"
          },
          "500": {
            "description": "Error creating chat room"
          }
        }
      }
    },
    "/chatrooms/{roomId}/users": {
      "get": {
        "operationId": "joinChatRoom",
        "summary": "Join a chat room",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Joined chat room"
          },
          "500": {
            "description": "Error adding user"
          }
        }
      }
    },
    "/chatrooms/{roomId}/messages": {
      "get": {
        "operationId": "getMessages",
        "summary": "Check for new messages since a certain timestamp",
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Messages retrieved"
          },
          "500": {
            "description": "Error retrieving messages"
          }
        }
      }
    }
  }
}
